name: ftp

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.15.0]

    steps:
      - name: Get latest code
        uses: actions/checkout@v2.3.2
        with:
          fetch-depth: 2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install
      - run: npm run build --if-present

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: ftp://47.100.93.252:21
          username: ${{ FTP_NAME }}
          password: ${{ FTP_PASSWORD }}
          local-dir: ./build/
          server-dir: ./htdocs/
        env:
          CI: true